.dashboard
  %h3 Dashboard
  .row
    .col.s6
      %table.pending
        %thead
          %tr
            %td
              %b Awaiting Response
        %tbody
          - if @couple_pending.any?
            - @couple_pending.each do |contract|
              %tr
                %td
                  = link_to contract.vendor.name, vendor_path(contract.vendor), style: "font-size: 100%;"
                %td
                  = link_to contract_path(contract), method: :delete, class: 'btn-floating' do
                    <i class="material-icons">close</i>
          - else
            %tr
              %td None pending
  .divider            
