.container.z-depth-3
  %h1 Couples
  %hr
  - if @couples.any?
    - @couples.each do |couple|
      = link_to couple.email, couple_path(couple)
      %br
  - else
    %h3 There are currently no couples.
