.row.center
	.col.m4
		= link_to 'FAQ', faq_path, class: 'btn btn-flat waves-effect'
	.col.m4
		= link_to 'Team', about_path, class: 'btn btn-flat waves-effect'
	.col.m4
		= link_to 'Contact Us', contact_path, class: 'btn btn-flat waves-effect'