.container.z-depth-3
	%img{src: "http://atlassian.wpengine.netdna-cdn.com/wp-content/uploads/devTeam.jpeg", style: "width: 100%; height: 400px;"}
		= render partial: 'static_nav'

	.owl-carousel
		.container
			.center
				%img.bios.circle{src: ""}
				%h5 Trevor Slater 
			%p.left
				I spent the last 4 years working as a critical care nurse. While doing this,  I became involved with several task forces working with developers representing nursing interests. It’s here that I got a taste of software engineering and loved it. I enjoy coding, golfing, Elon Musk, the Green Bay Packers, and videogames. 
				%br
				Fun Fact: I dislike baseball.
				%br
				trevor.s.slater@gmail.com 
			%p.center
				%a{href: "https://github.com/tslater3", target: "_blank"} Github 
				|
				%a{href: "https://www.linkedin.com/in/trevorslater", target: "_blank"} LinkedIn
					

		.center
			%img.bios.circle{src: ""}
			%h5 Jen Baguley 
			%p.center
				With my master's in environmental science and bachelor's in city and metropolitan planning, my professional background has been primarily in community engagement and non-profit organizations. I like all things nerdy (particularly Harry Potter and Game of Thrones), staying active, and of course my adorable family.
				%br
				Fun Fact: My ultimate life goal is to visit all seven continents.
				%br
				jen.eutsler@gmail.com
			%p.center
				%a{href: "", target: "_blank"} Github 
				|
				%a{href: "https://www.linkedin.com/pub/jennifer-baguley/17/667/942", target: "_blank"} LinkedIn
					

		.center
			%img.bios.circle{src: ""}
			%h5 Christian Fuller 
			%p.center
				%a{href: "", target: "_blank"} Github
				|
				%a{href: "https://www.linkedin.com/profile/view?id=ADEAABrTk1QBiBL--bhddIBSknsVP6yv0Ms8ljE&authType=NAME_SEARCH&authToken=5ocN&locale=en_US&srchid=3351221431445700003553&srchindex=1&srchtotal=39&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3351221431445700003553%2CVSRPtargetId%3A450073428%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH", target: "_blank"} LinkedIn
					
		.center
			%img.bios.circle{src: ""}
			%h5 Arleigh Atkinson 
			%p.center
				I have a B.S. in mathematics, but I'm also a former academic virologist and yoga instructor. When I'm not coding, you can find me running, reading a good book, or planning my next big adventure.
				%br
				Fun Fact: My favorite mode of traveling is couch-surfing!
				%a{href: "", target: "_blank"} Github
				|
				%a{href: "https://www.linkedin.com/pub/arleigh-atkinson/94/294/513", target: "_blank"} LinkedIn
				
