.container
	%h1 About Team {MarryMe}

	.row
		.col.m3
			%img.bios.circle{src: ""}
		.col.m8.offset-1
			%h5 Trevor Slater 
			%p 
				

	.row
		.col.m3
			%img.bios.circle{src: ""}
		.col.m8.offset-1
			%h5 Jen Baguley 
			%p 
				

	.row
		.col.m3
			%img.bios.circle{src: ""}
		.col.m8.offset-1
			%h5 Christian Fuller 
			%p 
				
	.row
		.col.m3
			%img.bios.circle{src: ""}
		.col.m8.offset-1
			%h5 Arleigh Atkinson 
			%p 
				
