.container
	.slider{style: "height: 400px;"}
		%ul.slides
			%li
				%img{src: "http://atlassian.wpengine.netdna-cdn.com/wp-content/uploads/devTeam.jpeg"}
		%h1.center About Team {MarryMe}
		= render partial: 'static_nav'

	.owl-carousel
		.center
			%img.bios.circle{src: ""}
			%h5 Trevor Slater 
			%p 
					

		.center
			%img.bios.circle{src: ""}
			%h5 Jen Baguley 
			%p 
					

		.center
			%img.bios.circle{src: ""}
			%h5 Christian Fuller 
			%p 
					
		.center
			%img.bios.circle{src: ""}
			%h5 Arleigh Atkinson 
			%p 
				
