.container
	%h4 Why {MarryMe}?
	%p
		No wedding planner? No problem! {MarryMe} is a one-stop shop for couples seeking vendors for their wedding. Fill out your profile and easily search and add that perfect caterer or decor rental.

	For vendors, {MarryMe} is a central location for planning and coordinating with other vendors. 

	%h4 Who can use {MarryMe}?
	%p
	{MarryMe} is specially designed for newly engaged couples to find the right vendors to make the best day of your life, the best day of your life!

	Vendors, {MarryMe} is for you too! Coordinate with other vendors to save time and confusion. Whether you're a caterer, dress-maker, or bunny-wrangler, we have the tools and features to also help your business grow.

	%h4 How do I find my ideal vendors?
	%p
	{MarryMe} has lots of search options for you to find exactly what you're looking for. Search by name, location, and category to find that perfect photobooth or dove-trainer.

	%h4 How do I attract potential clients?
	%p The more complete your profile is, the better! Showcase your logo, info, and category to draw more couples to your page.

	%h4 What if my mom is making the cake?
	%p Simply add family vendors using the Family Vendor form! This will make it easier for your other vendors to coordinate with your loved ones so your big day goes smoothly.

	%h4	I have other questions/comments/concerns!
	%p Please don't hesitate to Contact Us!
