- if current_couple || current_vendor
  YAY SIGNED IN
- else
  = link_to 'Vendor Sign Up', new_vendor_registration_path, class: 'btn'
  = link_to 'Couple Sign Up', new_couple_registration_path, class: 'btn'
