-# TO DO: fix team, etc div 
-# kill indicators
-# vertical line?
-# format text properly

.container
	.slider{style: "height: 400px;"}
		%ul.slides
			%li
				%img{src: "http://www.weddingelation.com/wp-content/uploads/2012/06/Outdoor-wedding-reception-decorations-ideas.jpg"}
			%li
				%img{src: "http://www.weddingdecor.com/site/ywd_dd_wedding_decor/assets/images/5sc.gif"}
			%li
				%img{src: "http://sunandseabeachweddings.com/wp-content/uploads/2012/07/20140227-IMG_3375.jpg"}
			%li
				%img{src: "http://nationtrendz.com/wp-content/uploads/2014/04/2014-collection-Rustic-Wedding-Lights.jpg"}
				
	= render partial: 'static_nav'

	.row.center
		.col.m6.center
			%h3
				for vendors..
		.col.m6.center
			%h3
				for couples.. 
	.row.center
		.col.m6.center
			%p
				%i.material-icons.small
					location_city
				easily search vendors in your area
			%p
				%i.material-icons.small
					person
				checkout profiles of vendors to find good fits
			%p
				%i.material-icons.small
					favorite
				add your vendors to your profile! 
				
		.col.m6.center
			%p
				%i.material-icons.small
					assignment_ind
				fill out a profile to attract potential clients
			%p
				%i.material-icons.small
					group
				connect with other vendors at each event
			%p
				%i.material-icons.small
					library_books
				organize your events 
	.row
		.col.m6.center
			= link_to 'Sign up', new_vendor_registration_path
		.col.m6.center
			= link_to 'Sign up', new_couple_registration_path
				
	