.container.z-depth-3
	.slider-wrapper
		.overlay-container
			%img.header-content{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/logo-overlay.png", style: "height: 400px; z-index: 2; position: absolute;"}
		.slider.header-content{style: "height: 400px; position: absolute; z-index: 1;"}
			%ul.slides
				%li
					%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/home1.png"}
				%li
					%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/home2.png"}
				%li
					%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/home3.png"}
				%li
					%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/home4.png"}
				%li
					%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/home5.png"}




	= render partial: 'static_nav'

	.row.center{style: "margin-bottom: 0px; color: #B1AB6F;"}
		.col.m6.center
			%h3
				for couples..
		.col.m6.center
			%h3
				for vendors..

	.row.center{style: "margin-bottom: 0px;"}
		.col.m1.center{style: "margin-left: 40px; color: #B1AB6F;"}
			%i.material-icons.small{style: "margin-top: 10px"}
				location_city
			%i.material-icons.small{style: "margin-top: 15px"}
				person
			%i.material-icons.small{style: "margin-top: 15px"}
				favorite

		.col.m4.center
			%p{style: "float: left"}
				easily search vendors in your area
			%br
			%p{style: "float: left"}
				check out vendor profiles
			%br
			%p{style: "float: left"}
				add your vendors to your profile!
			%br

		.col.m1.center{style: "margin-left: 60px; color: #B1AB6F;"}
			%i.material-icons.small{style: "margin-top: 10px"}
				info
			%i.material-icons.small{style: "margin-top: 15px"}
				group
			%i.material-icons.small{style: "margin-top: 15px"}
				library_books

		.col.m4.center
			%p{style: "float: left"}
				fill out a profile to attract clients
			%br
			%p{style: "float: left"}
				connect with other vendors
			%br
			%p{style: "float: left"}
				organize your events
			%br

	.row{style: "margin-top: 20px;"}
		.col.m6.center
			= link_to 'Sign up', new_couple_registration_path, class: 'btn'
		.col.m6.center
			= link_to 'Sign up', new_vendor_registration_path, class: 'btn'
