.container
	.jumbotron.center-align
		%h1 Vendors
		%p The right people to make the best day of your life, the best day of your life.
	.content
		.vendor_sort
			%button.btn-flat.waves-effect.florists{data: { category: "Florist"}}
				Florists
			%button.btn-flat.waves-effect.attire{data: { category: "Attire"}}
				Attire
			%button.btn-flat.waves-effect.music{data: { category: "Music"}}
				Music
			%button.btn-flat.waves-effect.venue{data: { category: "Venue"}}
				Venue
			%button.btn-flat.waves-effect.baker{data: { category: "Baker"}}
				Baker
			%button.btn-flat.waves-effect.caterer{data: { category: "Caterer"}}
				Caterer
			%button.btn-flat.waves-effect.photographer{data: { category: "Photographer"}}
				Photographer
			%button.btn-flat.waves-effect.videographer{data: { category: "Videographer"}}
				Videographer
			%button.btn-flat.waves-effect.photobooth{data: { category: "Photobooth"}}
				Photobooth
			%button.btn-flat.waves-effect.invitation{data: { category: "Invitation"}}
				Invitation
			%button.btn-flat.waves-effect.rental{data: { category: "Rental"}}
				Rental
			%button.btn-flat.waves-effect.other{data: { category: "Other"}}
				Other
		.vendor_display
			- if @vendors.any?
				- @vendors.each do |vendor_card|
					= render(partial: 'vendor_card', object: vendor_card)
			- else
				%h3 There are currently no vendors.
