.container
	%h1 All Vendors
	%hr
	.vendor_display
	- if @vendors.any?
		- @vendors.each do |vendor_card|
			= render(partial: 'vendor_card', object: vendor_card)
			%br
	- else
		%h3 There are currently no vendors.
	%hr
	-# MAP
	%div{style: 'width: 100%;'}
		#map{style: 'width: 100%; height: 400px;'}

%script{type: 'text/javascript'}
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();});
