.container
	%h1.headline All Vendors
	%hr
	.vendor_display
	- if @vendors.any?
		- @vendors.each do |vendor_card|
			= render(partial: 'vendor_card', object: vendor_card)
			%br
		%button.florists{data: { category: "Florist"}}
			Florists
		%button.attire{data: { category: "Attire"}}
			Attire
		%button.music{data: { category: "Music"}}
			Music
		%button.venue{data: { category: "Venue"}}
			Venue
		%button.baker{data: { category: "Baker"}}
			Baker
		%button.caterer{data: { category: "Caterer"}}
			Caterer
		%button.photographer{data: { category: "Photographer"}}
			Photographer
		%button.videographer{data: { category: "Videographer"}}
			Videographer
		%button.photobooth{data: { category: "Photobooth"}}
			Photobooth
		%button.invitation{data: { category: "Invitation"}}
			Invitation
		%button.rental{data: { category: "Rental"}}
			Rental
		%button.other{data: { category: "Other"}}
			Other


		-# %h3.all-florists
		-# %h3.all-attire
	- else
		%h3 There are currently no vendors.
	%hr
	-# MAP
	%div{style: 'width: 100%;'}
		#map{style: 'width: 100%; height: 400px;'}

%script{type: 'text/javascript'}
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();});
