.container.z-depth-3
	.slider{style: "height: 400px;"}
		%ul.slides
			%li
				%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/vendor5.png?X-Amz-Date=20151026T012343Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=15d4abc48c1ecc5c2fc40a133722a8ebad3f69ff9c8dc9eb57f416d462c38ea2&X-Amz-Credential=ASIAI5UQRV77FKTTRJCA/20151026/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDoakAL7IVA2IDQUpsoa1rO2rM6UpBONi2zHklItEfxkCDF18ZJVTqDmc6Z9N76s4T/AjXGCgeEX/FfZSjz4C8gT2lcpgs3fNRsVwO2%2Bmn/zLQ73dV2oOFSXhyeEqQk%2BymhSxYpm5ZY8mMbE13qpQzWsMQ0aJjbMMa8KMe5YT6u5buUL%2BNorFgTct8AilGyVdLUVc9BIa5aRKCc5dT0J2YGoc/oMi01y/WaZciYom5XAyy//wiE4ouv9EgPiJfqim2hEQ/fM1VgpefeaUb6wD0U5Dkr6igxCKToYCmcC2JwW65miRjZzcXisARNpwuMm%2BpS38Px5ndljgExoUF7egyKcX2mF870I46m25TkcLzA%2B4pKmOiDD/7WxBQ%3D%3D"}
			%li
				%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/vendor2.png?X-Amz-Date=20151026T012336Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a38480aa6ea32c1a3fce9cde253e6b7e9170e5df7c58b7f6686ebe7d6430ef5b&X-Amz-Credential=ASIAI5UQRV77FKTTRJCA/20151026/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDoakAL7IVA2IDQUpsoa1rO2rM6UpBONi2zHklItEfxkCDF18ZJVTqDmc6Z9N76s4T/AjXGCgeEX/FfZSjz4C8gT2lcpgs3fNRsVwO2%2Bmn/zLQ73dV2oOFSXhyeEqQk%2BymhSxYpm5ZY8mMbE13qpQzWsMQ0aJjbMMa8KMe5YT6u5buUL%2BNorFgTct8AilGyVdLUVc9BIa5aRKCc5dT0J2YGoc/oMi01y/WaZciYom5XAyy//wiE4ouv9EgPiJfqim2hEQ/fM1VgpefeaUb6wD0U5Dkr6igxCKToYCmcC2JwW65miRjZzcXisARNpwuMm%2BpS38Px5ndljgExoUF7egyKcX2mF870I46m25TkcLzA%2B4pKmOiDD/7WxBQ%3D%3D"}
			%li
				%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/vendor3.png?X-Amz-Date=20151026T012338Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=28f5f73a9def385b1846374fe1f80bc5fbb9276255ea7fd5217700deda13f117&X-Amz-Credential=ASIAI5UQRV77FKTTRJCA/20151026/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDoakAL7IVA2IDQUpsoa1rO2rM6UpBONi2zHklItEfxkCDF18ZJVTqDmc6Z9N76s4T/AjXGCgeEX/FfZSjz4C8gT2lcpgs3fNRsVwO2%2Bmn/zLQ73dV2oOFSXhyeEqQk%2BymhSxYpm5ZY8mMbE13qpQzWsMQ0aJjbMMa8KMe5YT6u5buUL%2BNorFgTct8AilGyVdLUVc9BIa5aRKCc5dT0J2YGoc/oMi01y/WaZciYom5XAyy//wiE4ouv9EgPiJfqim2hEQ/fM1VgpefeaUb6wD0U5Dkr6igxCKToYCmcC2JwW65miRjZzcXisARNpwuMm%2BpS38Px5ndljgExoUF7egyKcX2mF870I46m25TkcLzA%2B4pKmOiDD/7WxBQ%3D%3D"}
			%li
				%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/vendor4.png?X-Amz-Date=20151026T012341Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9f152d5a00cc4d00139a3b93b8469d650c8becfc678e620f014b599946fd484c&X-Amz-Credential=ASIAI5UQRV77FKTTRJCA/20151026/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDoakAL7IVA2IDQUpsoa1rO2rM6UpBONi2zHklItEfxkCDF18ZJVTqDmc6Z9N76s4T/AjXGCgeEX/FfZSjz4C8gT2lcpgs3fNRsVwO2%2Bmn/zLQ73dV2oOFSXhyeEqQk%2BymhSxYpm5ZY8mMbE13qpQzWsMQ0aJjbMMa8KMe5YT6u5buUL%2BNorFgTct8AilGyVdLUVc9BIa5aRKCc5dT0J2YGoc/oMi01y/WaZciYom5XAyy//wiE4ouv9EgPiJfqim2hEQ/fM1VgpefeaUb6wD0U5Dkr6igxCKToYCmcC2JwW65miRjZzcXisARNpwuMm%2BpS38Px5ndljgExoUF7egyKcX2mF870I46m25TkcLzA%2B4pKmOiDD/7WxBQ%3D%3D"}
			%li
				%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/vendor1.png?X-Amz-Date=20151026T012333Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a9b23f9f7f8b686570c9bdfb365323e9d2c9aae156686f88dbb9361eafb34259&X-Amz-Credential=ASIAI5UQRV77FKTTRJCA/20151026/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDoakAL7IVA2IDQUpsoa1rO2rM6UpBONi2zHklItEfxkCDF18ZJVTqDmc6Z9N76s4T/AjXGCgeEX/FfZSjz4C8gT2lcpgs3fNRsVwO2%2Bmn/zLQ73dV2oOFSXhyeEqQk%2BymhSxYpm5ZY8mMbE13qpQzWsMQ0aJjbMMa8KMe5YT6u5buUL%2BNorFgTct8AilGyVdLUVc9BIa5aRKCc5dT0J2YGoc/oMi01y/WaZciYom5XAyy//wiE4ouv9EgPiJfqim2hEQ/fM1VgpefeaUb6wD0U5Dkr6igxCKToYCmcC2JwW65miRjZzcXisARNpwuMm%2BpS38Px5ndljgExoUF7egyKcX2mF870I46m25TkcLzA%2B4pKmOiDD/7WxBQ%3D%3D"}
			.center-align{style: "float: top; position: absolute"}
				%img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/logo-overlay.png?X-Amz-Date=20151026T014526Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ed4064c7c65ebe5dba04c9c266470ba3eb24e370593ee11b4501152aa81946ab&X-Amz-Credential=ASIAI5UQRV77FKTTRJCA/20151026/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDoakAL7IVA2IDQUpsoa1rO2rM6UpBONi2zHklItEfxkCDF18ZJVTqDmc6Z9N76s4T/AjXGCgeEX/FfZSjz4C8gT2lcpgs3fNRsVwO2%2Bmn/zLQ73dV2oOFSXhyeEqQk%2BymhSxYpm5ZY8mMbE13qpQzWsMQ0aJjbMMa8KMe5YT6u5buUL%2BNorFgTct8AilGyVdLUVc9BIa5aRKCc5dT0J2YGoc/oMi01y/WaZciYom5XAyy//wiE4ouv9EgPiJfqim2hEQ/fM1VgpefeaUb6wD0U5Dkr6igxCKToYCmcC2JwW65miRjZzcXisARNpwuMm%2BpS38Px5ndljgExoUF7egyKcX2mF870I46m25TkcLzA%2B4pKmOiDD/7WxBQ%3D%3D", style: "height: 100px; width: 150px; margin-left: 20px;"}
			.center-align{style: "float: top; position: absolute; margin-left: 19%; margin-top: 14%;"}
				%img{src: ""}
	
	.content
		.vendor_sort
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Florist"}}
				Florists
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Attire"}}
				Attire
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Music"}}
				Music
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Venue"}}
				Venue
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Baker"}}
				Baker
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Caterer"}}
				Caterer
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Photographer"}}
				Photographer
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Videographer"}}
				Videographer
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Photobooth"}}
				Photobooth
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Invitation"}}
				Invitation
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Rental"}}
				Rental
			%button.btn-flat.waves-effect.vendor_button{data: { category: "Other"}}
				Other
		.vendor_display
			- if @vendors.any?
				.current_vendors
					-# = ajax_link_to 'vendors', link_url, :section_id => 'section_name'
					= render(partial: 'vendor_index_content', locals: {vendors: @vendors, hash: @hash})
			- else
				%h3 No vendors match your search.

	%script{type: 'text/javascript'}
		handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();});
