.container
	%h1 All Vendors
	%hr
	= ('Music')
	%hr
	.vendor_display
	- if @vendors.any?
		- @vendors.each do |vendor|
			= link_to vendor.email, vendor_path(vendor)
			.article
				%h1.name
					= link_to vendor.name, vendor_path(vendor)
			%br
		%button.florists{data: { category: "Florist"}}
			Florists
		%button.attire{data: { category: "Attire"}}
			Attire
		-# %h3.all-florists
		-# %h3.all-attire
	- else
		%h3 There are currently no vendors.
	%hr
	-# MAP
	%div{style: 'width: 800px;'}
		#map{style: 'width: 800px; height: 400px;'}

%script{type: 'text/javascript'}
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();});
