// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom_border {
	border-right: 2px solid black;
}

.bios{
	height: 150px;
	width: 150px;
}

.indicators {
	display: none;
}

.slider {
	height: 400px;
}

.header-content {
	width: 85% !important;
}

@media screen and (min-width: 992px) {
	.header-content {
		width: 70% !important;
	}
}
