
.notice {
padding: .91324200913242%;
margin-bottom: 20px;
background-color: #b5ffb2;
border-radius: 4px;
border: 1px solid #017505;
color: #017505;
font-size: 18px;
font-weight: bold;
text-align: center;
}
.flash-message {
display: inline-block;
}

.error {
padding: .91324200913242%;
margin-bottom: 20px;
background-color: rgb(245, 54, 54);
border-radius: 4px;
border: 1px solid black;
color: black;
font-size: 18px;
font-weight: bold;
text-align: center;
}
