%footer
  .page-footer
    .container
      .row
        .col.l6.s12
          %a{href: "http://www.devpointlabs.com/", target: "_blank"}
            %img{src: "http://www.devpointlabs.com/img/DPL-navbar-purple.gif", style: "height: 50px; width: 300px; margin-top: 15px;"}
          %p.grey-text.text-lighten-4{style: 'padding-top: 0;'}
            Thank you to 
            %a.footer-link{href: "http://www.devpointlabs.com/", target: "blank", style: "color: #B1AB6F;"}DevPoint Labs
            %br
            for all of the support and guidance!
        .col.l4.offset-l1.s12
          %img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/logo-overlay.png", style: 'height: 100px;'}
          %ul{style: "margin-top: -15px; margin-left: 15px;"}
            %li
              %a.grey-text.text-lighten-3{:href => "#{root_path}"} Home
            %li
              %a.grey-text.text-lighten-3{:href => "#{faq_path}"} FAQs
            %li
              %a.grey-text.text-lighten-3{:href => "#{about_path}"} Team
            %li
              %a.grey-text.text-lighten-3{:href => "#{contact_path}"} Contact Us
      .footer-copyright.center
        .container.white-text
          © 2015 {MarryMe}
