%footer
  .page-footer
    .container
      .row
        .col.l6.s12
          %h5.white-text
            %span{style: 'color: #B1AB6F;'} {
            %span MarryMe
            %span{style: 'color: #B1AB6F;'} }
          %p.grey-text.text-lighten-4 
            {MarryMe} is a smart, innovative new app for vendors and couples to connect, plan, and organize.
        .col.l4.offset-l1.s12
          %h5.white-text
            Navigation
          %ul
            %li
              %a.grey-text.text-lighten-3{:href => "#{root_path}"} Home
            %li
              %a.grey-text.text-lighten-3{:href => "#{faq_path}"} Faq
            %li
              %a.grey-text.text-lighten-3{:href => "#{about_path}"} Team
            %li
              %a.grey-text.text-lighten-3{:href => "#{contact_path}"} Contact Us
      .footer-copyright.center
        .container.white-text
          © 2015  {MarryMe}
        