<nav class="red lighten-1">
		<div class="nav-wrapper">
			<a href="#" class="left">Website</a>
			<a href="#" data-activates="mobile-nav" class="right button-collapse"><i class="mdi-navigation-more-vert"></i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
			<div class="right">
				<form method: 'get'>
					<div class="input-field">
						<input type="search" id="search-field" class="field" :search, params[:search]>
						<label for="search-field"><i class="mdi-action-search"></i></label>
						<i class="mdi-navigation-close close"></i>
					</div>
				</form>
			</div>
		</div>
	</nav>
	<ul class="side-nav" id="mobile-nav">
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
		<li><a href="#">Link 3</a></li>
	</ul>
</header>
	
	